.ProductList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  border: 1px solid black;
  background-color: crimson;
}

.ProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 65vh;

  &_img {
    width: 65vw;
    height: 65vh;
  }
}

.CounterSpan {
  font-size: 1.5em;
  border: 0 5%;
  padding: 0 5%;
}

.CounterBtn {
  width: 10%;
  height: 20%;
  background-color: white;
  color: crimson;
}
