.Header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #9fcbee;

  &_Title {
    text-align: center;
    font-family: "Rampart One", cursive;
    font-size: 4em;
    color: white;
  }
}
